message(VERBOSE "[CMEXL] Now processing ${CMAKE_CURRENT_LIST_FILE}")

add_library({{.SName}}_Math)
add_library(${LIBRARY_ALIAS}::add ALIAS {{.SName}}_Math)

target_link_libraries({{.SName}}_Math
	PRIVATE
	${LIBRARY_ALIAS}::proj_build
)

add_dll_support({{.SName}}_Math {{.SName}}_Math "add")

target_sources(
  {{.SName}}_Math
  PRIVATE add.cpp
  PUBLIC
    FILE_SET HEADERS
      FILES add.h
    FILE_SET generated_headers
      TYPE HEADERS
      BASE_DIRS $<TARGET_PROPERTY:{{.SName}}_Math,BINARY_DIR>
      FILES ${CMAKE_CURRENT_BINARY_DIR}/{{.LName}}_math_export.h
)