include(GenerateExportHeader)

if(NOT CMAKE_CXX_COMPILER)
    message(FATAL_ERROR "[CMEXL][ERROR] Cannot determine C++ compiler to use")
endif()

string(FIND ${CMAKE_CXX_COMPILER} "mingw" MINGW_INDEX)
set({{.UName}}_USING_MINGW FALSE)
if(NOT MINGW_INDEX EQUAL -1)
    set({{.UName}}_USING_MINGW TRUE)
endif()

if(CMAKE_SIZEOF_VOID_P EQUAL 8)
    set({{.UName}}_64BIT TRUE)
elseif(CMAKE_SIZEOF_VOID_P EQUAL 4)
    set({{.UName}}_32BIT TRUE)
else()
    message(FATAL_ERROR "[CMEXL][ERROR] Unable to determine sizeof(void*)")
endif()

set(CMAKE_POSITION_INDEPENDENT_CODE ON)
set(CMAKE_RUNTIME_OUTPUT_DIRECTORY ${CMAKE_BINARY_DIR}/bin)
set(CMAKE_ARCHIVE_OUTPUT_DIRECTORY ${CMAKE_BINARY_DIR}/bin)
set(CMAKE_LIBRARY_OUTPUT_DIRECTORY ${CMAKE_BINARY_DIR}/bin)
set(CMAKE_CXX_STANDARD 20)
set(CMAKE_CXX_STANDARD_REQUIRED ON)
set(CMAKE_CXX_EXTENSIONS OFF)

set(LIBRARY_ALIAS {{.SName}})

add_library({{.SName}}_BuildSettings INTERFACE)
add_library(${LIBRARY_ALIAS}::proj_build ALIAS {{.SName}}_BuildSettings)

if({{.UName}}_USING_MINGW)
    function(copy_mingw64_dependency PATH_TO_DEP NAME_OF_DEP)
        execute_process(
            COMMAND
            ${CMAKE_CXX_COMPILER} --print-file-name=${NAME_OF_DEP}
            OUTPUT_VARIABLE
            _PATH_TO_DEP
            OUTPUT_STRIP_TRAILING_WHITESPACE
            ECHO_OUTPUT_VARIABLE
            COMMAND_ECHO STDOUT
        )
        if(${_PATH_TO_DEP} STREQUAL ${NAME_OF_DEP})
            message(FATAL_ERROR "[CMEXL][MINGW64] Unable to find ${NAME_OF_DEP} for mingw64")
        endif()
        message(VERBOSE "[CMEXL][MINGW64] Found ${NAME_OF_DEP} at ${_PATH_TO_DEP}")
        set(${PATH_TO_DEP} ${_PATH_TO_DEP} PARENT_SCOPE)
        configure_file(${_PATH_TO_DEP} ${CMAKE_RUNTIME_OUTPUT_DIRECTORY}/${NAME_OF_DEP} COPYONLY)
        message(VERBOSE "[CMEXL][MINGW64] Finished copying over ${NAME_OF_DEP} to ${CMAKE_RUNTIME_OUTPUT_DIRECTORY}...")
    endfunction()
    copy_mingw64_dependency(LIBSTDCXX-6_DLL libstdc++-6.dll)
    copy_mingw64_dependency(LIBWINPTHREAD-1_DLL libwinpthread-1.dll)
    if(CMAKE_SIZEOF_VOID_P EQUAL 4)
        copy_mingw64_dependency(LIBGCC_S_DW2-1_DLL libgcc_s_dw2-1.dll)
    else()
        copy_mingw64_dependency(LIBGCC_S_SEH-1_DLL libgcc_s_seh-1.dll)
    endif()
endif()

# ===================== Common Compiler & Linker Flags ===================== #
# ======== Debug Options ======== #
set({{.UName}}_MSVC_OPTIONS_DEBUG)
set({{.UName}}_MSVC_OPTIONS_DEBUG_LINKING /DEBUG:FULL)
set({{.UName}}_MSVC_OPTIONS_DEBUG_DIAGNOSTICS /W4)
set({{.UName}}_MSVC_OPTIONS_DEBUG_COMPILING /Oy- /MP /permissive-) #/Od /Ob0 /Zi added automatically with Debug
# /permissive- automatically set by /std:c++20 but adding here just in case
set({{.UName}}_GNU_OPTIONS_DEBUG)
set({{.UName}}_GNU_OPTIONS_DEBUG_LINKING -rdynamic)
set({{.UName}}_GNU_OPTIONS_DEBUG_DIAGNOSTICS -Wall -Wextra -Wpedantic)
set({{.UName}}_GNU_OPTIONS_DEBUG_COMPILING -O0 -ggdb -pg -fno-omit-frame-pointer) # -g added automatically with Debug

if({{.UName}}_USING_MINGW)
    list(REMOVE_ITEM {{.UName}}_GNU_OPTIONS_DEBUG_LINKING -rdynamic) #TODO: Once DLLs are supported, what about mingw's -export-dynamic?
    list(REMOVE_ITEM {{.UName}}_GNU_OPTIONS_DEBUG_COMPILING -pg)
endif()

list(APPEND {{.UName}}_MSVC_OPTIONS_DEBUG
    ${${PROJ_PREFIX}_MSVC_OPTIONS_DEBUG_COMPILING}
    ${${PROJ_PREFIX}_MSVC_OPTIONS_DEBUG_DIAGNOSTICS}
)
list(APPEND {{.UName}}_GNU_OPTIONS_DEBUG
    ${${PROJ_PREFIX}_GNU_OPTIONS_DEBUG_COMPILING}
    ${${PROJ_PREFIX}_GNU_OPTIONS_DEBUG_DIAGNOSTICS}
)
# ======== Release/RelWithDebInfo/MinSizeRel Variants ======== #
set({{.UName}}_MSVC_OPTIONS_RELEASE)
set({{.UName}}_MSVC_OPTIONS_RELEASE_LINKING)
set({{.UName}}_MSVC_OPTIONS_RELEASE_DIAGNOSTICS)
set({{.UName}}_MSVC_OPTIONS_RELEASE_COMPILING /MP /permissive-) #/O2 /Ob2 added automatically with Release
# /permissive- automatically set by /std:c++20 but adding here just in case

set({{.UName}}_GNU_OPTIONS_RELEASE)
set({{.UName}}_GNU_OPTIONS_RELEASE_LINKING -rdynamic)
set({{.UName}}_GNU_OPTIONS_RELEASE_DIAGNOSTICS -Wall)
set({{.UName}}_GNU_OPTIONS_RELEASE_COMPILING) # RELEASE enables -O3 which enables -finline-functions

if({{.UName}}_32BIT)
    list(APPEND {{.UName}}_MSVC_OPTIONS_RELEASE_COMPILING /Oy)
    list(APPEND {{.UName}}_GNU_OPTIONS_RELEASE_COMPILING -fomit-frame-pointer)
else()
    if(NOT {{.UName}}_64BIT)
        message(WARNING "[CMEXL] Can't determine CMAKE_SIZEOF_VOID_P")
    endif()
    list(APPEND {{.UName}}_MSVC_OPTIONS_RELEASE_COMPILING /Oy-)
    list(APPEND {{.UName}}_GNU_OPTIONS_RELEASE_COMPILING -fno-omit-frame-pointer)
endif()

if({{.UName}}_USING_MINGW)
    list(REMOVE_ITEM {{.UName}}_GNU_OPTIONS_RELEASE_LINKING "-rdynamic") #TODO: Once DLLs are supported, what about mingw's -export-dynamic?
endif()

list(APPEND {{.UName}}_MSVC_OPTIONS_RELEASE
    ${${PROJ_PREFIX}_MSVC_OPTIONS_RELEASE_COMPILING}
    ${${PROJ_PREFIX}_MSVC_OPTIONS_RELEASE_DIAGNOSTICS}
)
list(APPEND {{.UName}}_GNU_OPTIONS_RELEASE
    ${${PROJ_PREFIX}_GNU_OPTIONS_RELEASE_COMPILING}
    ${${PROJ_PREFIX}_GNU_OPTIONS_RELEASE_DIAGNOSTICS}
)

message(STATUS "[CMEXL] sizeof(void*): ${CMAKE_SIZEOF_VOID_P}")

message(STATUS "[CMEXL] Explicitly added flags:")
message(STATUS "[CMEXL][FLAGS] MSVC+Debug: ${${PROJ_PREFIX}_MSVC_OPTIONS_DEBUG}")
message(STATUS "[CMEXL][FLAGS] GNU+Debug: ${${PROJ_PREFIX}_GNU_OPTIONS_DEBUG}")
message(STATUS "[CMEXL][FLAGS] MSVC+Release: ${${PROJ_PREFIX}_MSVC_OPTIONS_RELEASE}")
message(STATUS "[CMEXL][FLAGS] GNU+Release: ${${PROJ_PREFIX}_GNU_OPTIONS_RELEASE}")

message(STATUS "[CMEXL][FLAGS] MSVC+Debug linker flags: ${${PROJ_PREFIX}_MSVC_OPTIONS_DEBUG_LINKING}")
message(STATUS "[CMEXL][FLAGS] GNU+Debug linker flags: ${${PROJ_PREFIX}_GNU_OPTIONS_DEBUG_LINKING}")
if(CMAKE_GENERATOR MATCHES "Visual Studio")
    message(STATUS "[CMEXL][Visual Studio] Platform Name: ${CMAKE_VS_PLATFORM_NAME}")
    message(STATUS "[CMEXL][Visual Studio] Platform Version: ${CMAKE_VS_WINDOWS_TARGET_PLATFORM_VERSION}")
    message(STATUS "[CMEXL][Visual Studio] Platform Toolset: ${CMAKE_VS_PLATFORM_TOOLSET}")
endif()

# ==================== Target Properties ==================== #
target_compile_features({{.SName}}_BuildSettings
    INTERFACE
    cxx_std_20
)
target_compile_definitions({{.SName}}_BuildSettings
    INTERFACE
    {{.UName}}_PATH_TO_CONFIGS_DIR="${PROJECT_SOURCE_DIR}" #TODO: Allow a user to set this.
    {{.UName}}_PATH_TO_OUT_LOG_DIR="${PROJECT_SOURCE_DIR}/out/build/${${PROJ_PREFIX}_PRESET_NAME}/log/$<LOWER_CASE:$<CONFIG>>" #TODO: Allow a user to set this.
    {{.UName}}_CONFIG_$<UPPER_CASE:$<CONFIG>>
)

target_compile_options({{.SName}}_BuildSettings
    INTERFACE
    $<$<CONFIG:Debug>:$<IF:$<CXX_COMPILER_FRONTEND_VARIANT:MSVC>,${${PROJ_PREFIX}_MSVC_OPTIONS_DEBUG},${${PROJ_PREFIX}_GNU_OPTIONS_DEBUG}>>
    $<$<NOT:$<CONFIG:Debug>>:$<IF:$<CXX_COMPILER_FRONTEND_VARIANT:MSVC>,${${PROJ_PREFIX}_MSVC_OPTIONS_RELEASE},${${PROJ_PREFIX}_GNU_OPTIONS_RELEASE}>>
)

target_link_options({{.SName}}_BuildSettings
    INTERFACE
    $<$<CONFIG:Debug>:$<IF:$<CXX_COMPILER_FRONTEND_VARIANT:MSVC>,${${PROJ_PREFIX}_MSVC_OPTIONS_DEBUG_LINKING},${${PROJ_PREFIX}_GNU_OPTIONS_DEBUG_LINKING}>>
)

macro(add_dll_support TARGET PREFIX)
    message(STATUS "[CMEXL] adding dll support for ${TARGET}")

    set_target_properties(${TARGET} 
        PROPERTIES
        CXX_VISIBILITY_PRESET hidden
        VISIBILITY_INLINES_HIDDEN YES
    )

    generate_export_header(${TARGET}) 

    target_include_directories(${TARGET} PRIVATE ${CMAKE_CURRENT_BINARY_DIR})
endmacro()