{
  "$schema": "https://raw.githubusercontent.com/Kitware/CMake/master/Help/manual/presets/schema.json",
  "version": 10,
  "cmakeMinimumRequired": {
    "major": 3,
    "minor": 16,
    "patch": 0
  },
  "$comment": [
    "You will need CMake version 3.31 or higher in order to use this CMakePresets.json.",
    "For lesser cmake versions, just manually list the variables below into the command line invocation of cmake.",
    "Note that paths will have to be manually specified since {sourceDir} and other variables will no longer be available.",
    "Feel free to edit"
  ],
  "include": [
{{if .UseVcpkg}}
    "VcpkgPresets.json"
{{end}}
  ],
  "configurePresets": [
{{if not .UseVcpkg}}
    {
      "name": "base",
      "hidden": true,
      "binaryDir": "${sourceDir}/out/build/${presetName}",
      "installDir": "${sourceDir}/out/install/${presetName}",
      "cacheVariables": {
        "{{.UName}}_PRESET_NAME": "${presetName}"
      }
    },
{{end}}
    {
      "name": "{{.LName}}-base",
      "hidden": true,
      "inherits": {{if .UseVcpkg}} "vcpkg-base" {{else}} "base" {{end}}
    },
    {
      "name": "vs-msvc",
      "inherits": "{{.LName}}-base",
      "generator": "Visual Studio 17 2022",
      "displayName": "Visual Studio w/ MSVC (x64)",
      "cacheVariables": {
        "CMAKE_GENERATOR_PLATFORM": "x64",
        "{{.UName}}_BUILD_TESTS": "ON"
{{if .UseVcpkg}}
        ,"VCPKG_TARGET_TRIPLET": "x64-windows-static-md"
{{end}}
      }
    },
    {
      "name": "x86-vs-msvc",
      "inherits": "{{.LName}}-base",
      "generator": "Visual Studio 17 2022",
      "displayName": "Visual Studio w/ MSVC (x86)",
      "cacheVariables": {
        "CMAKE_GENERATOR_PLATFORM": "Win32",
        "{{.UName}}_BUILD_TESTS": "ON"
{{if .UseVcpkg}}
        ,"VCPKG_TARGET_TRIPLET": "x86-windows-static-md"
{{end}}
      }
    },
    {
      "name": "x64-linux-dbg-gcc",
      "inherits": "{{.LName}}-base",
      "displayName": "Ninja w/ GCC (x64)(Debug)",
      "generator": "Ninja",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Debug",
        "{{.UName}}_BUILD_TESTS": "ON",
        "{{.UName}}_USE_BACKTRACE": "ON",
{{if .UseVcpkg}}
        "VCPKG_TARGET_TRIPLET": "x64-linux-static-md",
        "VCPKG_CHAINLOAD_TOOLCHAIN_FILE": "${sourceDir}/toolchains/x64-linux-static-md.toolchain.cmake"
{{else}}
        "CMAKE_TOOLCHAIN_FILE": "${sourceDir}/toolchains/x64-linux-static-md.toolchain.cmake"
{{end}}
      }
    },
    {
      "name": "x64-linux-rel-gcc",
      "inherits": "{{.LName}}-base",
      "displayName": "Ninja w/ GCC (x64)(Release)",
      "generator": "Ninja",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Release",
        "{{.UName}}_USE_ADDR2LINE": "ON",
{{if .UseVcpkg}}
        "VCPKG_TARGET_TRIPLET": "x64-linux-static-md",
        "VCPKG_CHAINLOAD_TOOLCHAIN_FILE": "${sourceDir}/toolchains/x64-linux-static-md.toolchain.cmake"
{{else}}
        "CMAKE_TOOLCHAIN_FILE": "${sourceDir}/toolchains/x64-linux-static-md.toolchain.cmake"
{{end}}
      }
    },
    {
      "name": "x64-mingw64-dbg",
      "inherits": "{{.LName}}-base",
      "displayName": "Ninja w/ x86_64-w64-mingw32-g++posix (x64)(Debug)",
      "generator": "Ninja",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Debug",
        "{{.UName}}_BUILD_TESTS": "OFF",
        "{{.UName}}_USE_BACKTRACE": "ON",
{{if .UseVcpkg}}
        "VCPKG_TARGET_TRIPLET": "x64-mingw64-static-md",
        "VCPKG_CHAINLOAD_TOOLCHAIN_FILE": "${sourceDir}/toolchains/x64-mingw64-static-md.toolchain.cmake"
{{else}}
        "CMAKE_TOOLCHAIN_FILE": "${sourceDir}/toolchains/x64-mingw64-static-md.toolchain.cmake"
{{end}}
      }
    },
    {
      "name": "x64-linux-clang-dbg",
      "inherits": "{{.LName}}-base",
      "displayName": "Ninja w/ Clang (x64)(Debug)(Check)",
      "generator": "Ninja",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Debug",
        "{{.UName}}_USE_BACKTRACE": "ON",
{{if .UseVcpkg}}
        "VCPKG_TARGET_TRIPLET": "x64-linux-llvm-static-md",
        "VCPKG_CHAINLOAD_TOOLCHAIN_FILE": "${sourceDir}/toolchains/x64-linux-llvm-static-md.toolchain.cmake"
{{else}}
        "CMAKE_TOOLCHAIN_FILE": "${sourceDir}/toolchains/x64-linux-llvm-static-md.toolchain.cmake"
{{end}}
      }
    }
  ],
  "buildPresets": [
    {
      "name": "vs-msvc-debug",
      "displayName": "Build w/ MSVC (x64)(Debug)",
      "configurePreset": "vs-msvc",
      "jobs": 4,
      "configuration": "Debug",
      "verbose": true
    },
    {
      "name": "vs-msvc-release",
      "displayName": "Build w/ MSVC (x64)(Release)",
      "configurePreset": "vs-msvc",
      "jobs": 4,
      "configuration": "Release",
      "verbose": true
    },
    {
      "name": "x64-linux-dbg-gcc",
      "displayName": "Build w/ Ninja and GCC (x64)(Debug)",
      "configurePreset": "x64-linux-dbg-gcc",
      "jobs": 4,
      "verbose": true
    },
    {
      "name": "x64-linux-rel-gcc",
      "displayName": "Build w/ Ninja and GCC (x64)(Release)",
      "configurePreset": "x64-linux-rel-gcc",
      "jobs": 4,
      "verbose": true
    },
    {
      "name": "x64-mingw64-dbg",
      "displayName": "Build w/ Ninja and x86_64-w64-mingw32-g++posix (x64)(Debug)",
      "configurePreset": "x64-mingw64-dbg",
      "jobs": 4,
      "verbose": true
    },
    {
      "name": "x64-linux-clang-dbg",
      "displayName": "Build w/ Ninja and clang (x64)(Debug)",
      "configurePreset": "x64-linux-clang-dbg",
      "jobs": 4,
      "verbose": true
    }
  ],
  "workflowPresets": [
    {
      "name": "win-dev",
      "displayName": "Workflow for Windows w/ MSVC (x64)(Debug)",
      "steps": [
        {
          "type": "configure",
          "name": "vs-msvc"
        },
        {
          "type": "build",
          "name": "vs-msvc-debug"
        }
      ]
    },
    {
      "name": "win-rel",
      "displayName": "Workflow for Windows w/ MSVC (x64)(Release)",
      "steps": [
        {
          "type": "configure",
          "name": "vs-msvc"
        },
        {
          "type": "build",
          "name": "vs-msvc-release"
        }
      ]
    },
    {
      "name": "linux-dev",
      "displayName": "Workflow for Linux w/ Ninja+GCC (x64)(Debug)",
      "steps": [
        {
          "type": "configure",
          "name": "x64-linux-dbg-gcc"
        },
        {
          "type": "build",
          "name": "x64-linux-dbg-gcc"
        }
      ]
    },
    {
      "name": "linux-rel",
      "displayName": "Workflow for Linux w/ Ninja+GCC (x64)(Release)",
      "steps": [
        {
          "type": "configure",
          "name": "x64-linux-rel-gcc"
        },
        {
          "type": "build",
          "name": "x64-linux-rel-gcc"
        }
      ]
    },
    {
      "name": "mingw-dev",
      "displayName": "Workflow for MinGW64 w/ Ninja (x64)(Debug)",
      "steps": [
        {
          "type": "configure",
          "name": "x64-mingw64-dbg"
        },
        {
          "type": "build",
          "name": "x64-mingw64-dbg"
        }
      ]
    },
    {
      "name": "clang-dev",
      "displayName": "Workflow for Clang w/ Ninja (x64)(Debug)",
      "steps": [
        {
          "type": "configure",
          "name": "x64-linux-clang-dbg"
        },
        {
          "type": "build",
          "name": "x64-linux-clang-dbg"
        }
      ]
    }
  ]
}