{
  "version": 10,
  "include": [
    "CMakePresets.json"
  ],
  "configurePresets": [
    {
      "name": "x64-mingw64-linux-dbg",
      "inherits": "vcpkg-base",
      "displayName": "Ninja w/ Mingw64 (x64)(Debug)",
      "generator": "Ninja",
      "cacheVariables": {
        "VCPKG_TARGET_TRIPLET": "x64-mingw64-linux-static-md",
        "VCPKG_CHAINLOAD_TOOLCHAIN_FILE": "${sourceDir}/doobius-triplets/x64-mingw64-linux-static-md.toolchain.cmake",
        "DOOBIUS_BUILD_TESTS": "OFF",
        "DOOBIUS_USE_ADDR2LINE": "ON",
        "DOOBIUS_USE_BACKTRACE": "OFF",
        "CMAKE_BUILD_TYPE": "Debug"
      }
    },
    {
      "name": "fast-gcc",
      "inherits": "x64-linux-dbg-gcc",
      "cacheVariables": {
        "CMAKE_CXX_COMPILER_LAUNCHER": "ccache",
        "CMAKE_C_COMPILER_LAUNCHER": "ccache"
      }
    },
    {
      "name": "fast-gcc-check",
      "inherits": "x64-linux-gcc-dbg-check",
      "cacheVariables": {
        "CMAKE_CXX_COMPILER_LAUNCHER": "ccache",
        "CMAKE_C_COMPILER_LAUNCHER": "ccache"
      }
    },
    {
      "name": "fast-msvc",
      "inherits": "vs-msvc",
      "cacheVariables": {
        "CMAKE_CXX_COMPILER_LAUNCHER": "ccache",
        "CMAKE_C_COMPILER_LAUNCHER": "ccache"
      }
    },
    {
      "name": "fast-msvc-check",
      "inherits": "x64-vs-msvc-vcpkg-check",
      "cacheVariables": {
        "CMAKE_CXX_COMPILER_LAUNCHER": "ccache",
        "CMAKE_C_COMPILER_LAUNCHER": "ccache"
      }
    }
  ],
  "buildPresets": [
    {
      "name": "fast-msvc-check-debug",
      "displayName": "ccache w/ msvc in debug",
      "configurePreset": "fast-msvc-check",
      "jobs": 4,
      "targets": [
        "DoobiusDriver"
      ],
      "configuration": "Debug",
      "verbose": true
    }
  ],
  "workflowPresets": [
    {
      "name": "fast-msvc-check-debug",
      "displayName": "Workflow for ccache w/ MSVC (x64)(Debug)",
      "steps": [
        {
          "type": "configure",
          "name": "fast-msvc-check"
        },
        {
          "type": "build",
          "name": "fast-msvc-check-debug"
        }
      ]
    }
  ]
}