cmake_minimum_required(VERSION 3.16)
message(VERBOSE "[CMEXL] Now processing ${CMAKE_CURRENT_LIST_FILE}")

set(PROJ_PREFIX {{.UName}})
# Enable Hot Reload for MSVC compilers if supported
if(MSVC AND POLICY CMP0141)
  cmake_policy(SET CMP0141 NEW)
  set(CMAKE_MSVC_DEBUG_INFORMATION_FORMAT
    "$<$<CONFIG:Debug,RelWithDebInfo>:ProgramDatabase>"
    "$<$<CONFIG:Debug,RelWithDebInfo>:EditAndContinue>")
endif()

include(cmake/{{.LName}}_options.cmake)
{{if .UseVcpkg}}
if({{.UName}}_USE_VCPKG)
  include(cmake/{{.LName}}_features.cmake)
  message(VERBOSE "[CMEXL][VCPKG] Triplet = ${VCPKG_TARGET_TRIPLET}")
  message(VERBOSE "[CMEXL][VCPKG] Toolchain = ${CMAKE_TOOLCHAIN_FILE}")
  message(VERBOSE "[CMEXL][VCPKG] Chainload Toolchain = ${VCPKG_CHAINLOAD_TOOLCHAIN_FILE}")
  message(VERBOSE "[CMEXL][VCPKG] Features = ${VCPKG_MANIFEST_FEATURES}")
endif()
{{end}}

# =============== Project Init =============== #
include(cmake/{{.LName}}_version.cmake)
project({{.Name}} VERSION ${${PROJ_PREFIX}_VER} LANGUAGES C CXX)
# =============== Config Check =============== #
# TODO: Allow users to create their configs
if((NOT GENERATOR_IS_MULTI_CONFIG) AND (NOT CMAKE_BUILD_TYPE))
  message(WARNING "[CMEXL] CMAKE_BUILD_TYPE not explicitly set. Using Debug as default...")
  set(CMAKE_BUILD_TYPE Debug CACHE STRING "" FORCE)
endif()

set(ALLOWED_BUILD_TYPES Debug Release RelWithDebInfo MinSizeRel)
if(NOT CMAKE_BUILD_TYPE IN_LIST ALLOWED_BUILD_TYPES)
  message(FATAL_ERROR
    "[CMEXL] Invalid build type: ${CMAKE_BUILD_TYPE}."
    "Allowed values are: ${ALLOWED_BUILD_TYPES}"
  )
endif()

include(cmake/{{.LName}}_defaults.cmake)

set(CMEXL_BOOST_STACKTRACE_IMPORT stacktrace_basic)
set(CMEXL_NEED_LIBDL OFF)
set(CMEXL_NEED_DBGENG OFF)

function(_cmexl_find_addr2line OUTVAR)
  if(CMEXL_USING_MINGW)
    set(_names x86_64-w64-mingw32-addr2line)
    if(CMEXL_32BIT)
      list(APPEND _names i686-w64-mingw32-addr2line)
    endif()
    list(APPEND _names addr2line)
  else()
    set(_names addr2line)
  endif()

  find_program(_bin NAMES ${_names})
  if(NOT _bin)
    message(FATAL_ERROR "[CMEXL] Cannot find addr2line. Re-run CMake with --debug-find to diagnose.")
  endif()
  message(STATUS "[CMEXL] Using addr2line: ${_bin}")

  set(${OUTVAR} "${_bin}" PARENT_SCOPE)
endfunction()

if(WIN32)
  set(CMEXL_BOOST_STACKTRACE_IMPORT stacktrace_windbg)
  set(CMEXL_NEED_DBGENG ON)
  if({{.UName}}_USE_BACKTRACE OR {{.UName}}_USE_ADDR2LINE)
    message(WARNING "[CMEXL] Forcefully disabling backtrace and/or addr2line on windows")
  endif()
  set({{.UName}}_USE_BACKTRACE OFF)
  set({{.UName}}_USE_ADDR2LINE OFF)
else()
  set(CMEXL_NEED_LIBDL ON)

  if({{.UName}}_USE_BACKTRACE)
    set(CMEXL_BOOST_STACKTRACE_IMPORT stacktrace_backtrace)
  elseif({{.UName}}_USE_ADDR2LINE)
    _cmexl_find_addr2line({{.UName}}_ADDR2LINE_BINARY)
    set(CMEXL_BOOST_STACKTRACE_IMPORT stacktrace_addr2line)
  endif()
endif()

include(cmake/{{.LName}}_packages.cmake) # find_package() goes in here

add_subdirectory(src)
